Build started...
Build succeeded.
info: Microsoft.EntityFrameworkCore.Infrastructure[10403]
      Entity Framework Core 6.0.10 initialized 'ApplicationDbContext' using provider 'Npgsql.EntityFrameworkCore.PostgreSQL:6.0.7+5b98e4b74de93b590b44aef8dd7967c03acc433c' with options: using snake-case naming  (culture=)
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    migration_id character varying(150) NOT NULL,
    product_version character varying(32) NOT NULL,
    CONSTRAINT pk___ef_migrations_history PRIMARY KEY (migration_id)
);

START TRANSACTION;

CREATE TABLE "AspNetRoles" (
    id text NOT NULL,
    name character varying(256) NULL,
    normalized_name character varying(256) NULL,
    concurrency_stamp text NULL,
    CONSTRAINT pk_asp_net_roles PRIMARY KEY (id)
);

CREATE TABLE "AspNetUsers" (
    id text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    user_name character varying(256) NULL,
    normalized_user_name character varying(256) NULL,
    email character varying(256) NULL,
    normalized_email character varying(256) NULL,
    email_confirmed boolean NOT NULL,
    password_hash text NULL,
    security_stamp text NULL,
    concurrency_stamp text NULL,
    phone_number text NULL,
    phone_number_confirmed boolean NOT NULL,
    two_factor_enabled boolean NOT NULL,
    lockout_end timestamp with time zone NULL,
    lockout_enabled boolean NOT NULL,
    access_failed_count integer NOT NULL,
    CONSTRAINT pk_asp_net_users PRIMARY KEY (id)
);

CREATE TABLE "AspNetRoleClaims" (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    role_id text NOT NULL,
    claim_type text NULL,
    claim_value text NULL,
    CONSTRAINT pk_asp_net_role_claims PRIMARY KEY (id),
    CONSTRAINT fk_asp_net_role_claims_asp_net_roles_role_id FOREIGN KEY (role_id) REFERENCES "AspNetRoles" (id) ON DELETE CASCADE
);

CREATE TABLE "AspNetUserClaims" (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    user_id text NOT NULL,
    claim_type text NULL,
    claim_value text NULL,
    CONSTRAINT pk_asp_net_user_claims PRIMARY KEY (id),
    CONSTRAINT fk_asp_net_user_claims_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES "AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE "AspNetUserLogins" (
    login_provider text NOT NULL,
    provider_key text NOT NULL,
    provider_display_name text NULL,
    user_id text NOT NULL,
    CONSTRAINT pk_asp_net_user_logins PRIMARY KEY (login_provider, provider_key),
    CONSTRAINT fk_asp_net_user_logins_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES "AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE "AspNetUserRoles" (
    user_id text NOT NULL,
    role_id text NOT NULL,
    CONSTRAINT pk_asp_net_user_roles PRIMARY KEY (user_id, role_id),
    CONSTRAINT fk_asp_net_user_roles_asp_net_roles_role_id FOREIGN KEY (role_id) REFERENCES "AspNetRoles" (id) ON DELETE CASCADE,
    CONSTRAINT fk_asp_net_user_roles_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES "AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE "AspNetUserTokens" (
    user_id text NOT NULL,
    login_provider text NOT NULL,
    name text NOT NULL,
    value text NULL,
    CONSTRAINT pk_asp_net_user_tokens PRIMARY KEY (user_id, login_provider, name),
    CONSTRAINT fk_asp_net_user_tokens_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES "AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE quiz (
    id uuid NOT NULL,
    title text NOT NULL,
    author_id text NOT NULL,
    CONSTRAINT pk_quiz PRIMARY KEY (id),
    CONSTRAINT fk_quiz_users_author_id FOREIGN KEY (author_id) REFERENCES "AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE question (
    id uuid NOT NULL,
    question_text text NOT NULL,
    difficulty integer NOT NULL,
    type integer NOT NULL,
    quiz_id uuid NOT NULL,
    CONSTRAINT pk_question PRIMARY KEY (id),
    CONSTRAINT fk_question_quiz_quiz_id FOREIGN KEY (quiz_id) REFERENCES quiz (id) ON DELETE CASCADE
);

CREATE TABLE test (
    id uuid NOT NULL,
    title text NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    quiz_id uuid NOT NULL,
    CONSTRAINT pk_test PRIMARY KEY (id),
    CONSTRAINT fk_test_quiz_quiz_id FOREIGN KEY (quiz_id) REFERENCES quiz (id) ON DELETE CASCADE
);

CREATE TABLE option (
    id uuid NOT NULL,
    option_text text NOT NULL,
    is_correct boolean NOT NULL,
    question_id uuid NOT NULL,
    CONSTRAINT pk_option PRIMARY KEY (id),
    CONSTRAINT fk_option_question_question_id FOREIGN KEY (question_id) REFERENCES question (id) ON DELETE CASCADE
);

CREATE TABLE take (
    id uuid NOT NULL,
    anonymous_check_identifier uuid NOT NULL,
    score double precision NOT NULL,
    taker_id text NOT NULL,
    test_id uuid NOT NULL,
    CONSTRAINT pk_take PRIMARY KEY (id),
    CONSTRAINT fk_take_test_test_id FOREIGN KEY (test_id) REFERENCES test (id) ON DELETE CASCADE,
    CONSTRAINT fk_take_users_taker_id FOREIGN KEY (taker_id) REFERENCES "AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE take_question (
    id uuid NOT NULL,
    open_ended_answer text NULL,
    take_id uuid NOT NULL,
    question_id uuid NOT NULL,
    CONSTRAINT pk_take_question PRIMARY KEY (id),
    CONSTRAINT fk_take_question_question_question_id FOREIGN KEY (question_id) REFERENCES question (id) ON DELETE CASCADE,
    CONSTRAINT fk_take_question_take_take_id FOREIGN KEY (take_id) REFERENCES take (id) ON DELETE CASCADE
);

CREATE TABLE take_answer (
    id uuid NOT NULL,
    take_question_id uuid NOT NULL,
    option_id uuid NOT NULL,
    CONSTRAINT pk_take_answer PRIMARY KEY (id),
    CONSTRAINT fk_take_answer_option_option_id FOREIGN KEY (option_id) REFERENCES option (id) ON DELETE CASCADE,
    CONSTRAINT fk_take_answer_take_question_take_question_id FOREIGN KEY (take_question_id) REFERENCES take_question (id) ON DELETE CASCADE
);

CREATE INDEX ix_asp_net_role_claims_role_id ON "AspNetRoleClaims" (role_id);

CREATE UNIQUE INDEX "RoleNameIndex" ON "AspNetRoles" (normalized_name);

CREATE INDEX ix_asp_net_user_claims_user_id ON "AspNetUserClaims" (user_id);

CREATE INDEX ix_asp_net_user_logins_user_id ON "AspNetUserLogins" (user_id);

CREATE INDEX ix_asp_net_user_roles_role_id ON "AspNetUserRoles" (role_id);

CREATE INDEX "EmailIndex" ON "AspNetUsers" (normalized_email);

CREATE UNIQUE INDEX "UserNameIndex" ON "AspNetUsers" (normalized_user_name);

CREATE INDEX ix_question_quiz_id ON question (quiz_id);

CREATE INDEX ix_quiz_author_id ON quiz (author_id);

CREATE INDEX ix_option_question_id ON option (question_id);

CREATE INDEX ix_take_taker_id ON take (taker_id);

CREATE INDEX ix_take_test_id ON take (test_id);

CREATE INDEX ix_take_answer_option_id ON take_answer (option_id);

CREATE INDEX ix_take_answer_take_question_id ON take_answer (take_question_id);

CREATE INDEX ix_take_question_question_id ON take_question (question_id);

CREATE INDEX ix_take_question_take_id ON take_question (take_id);

CREATE INDEX ix_test_quiz_id ON test (quiz_id);

INSERT INTO "__EFMigrationsHistory" (migration_id, product_version)
VALUES ('20221205152755_Initial', '6.0.10');

COMMIT;

START TRANSACTION;

ALTER TABLE question DROP CONSTRAINT fk_question_quiz_quiz_id;

ALTER TABLE quiz DROP CONSTRAINT fk_quiz_users_author_id;

ALTER TABLE option DROP CONSTRAINT fk_option_question_question_id;

ALTER TABLE take DROP CONSTRAINT fk_take_test_test_id;

ALTER TABLE take DROP CONSTRAINT fk_take_users_taker_id;

ALTER TABLE take_answer DROP CONSTRAINT fk_take_answer_option_option_id;

ALTER TABLE take_answer DROP CONSTRAINT fk_take_answer_take_question_take_question_id;

ALTER TABLE take_question DROP CONSTRAINT fk_take_question_question_question_id;

ALTER TABLE take_question DROP CONSTRAINT fk_take_question_take_take_id;

ALTER TABLE test DROP CONSTRAINT fk_test_quiz_quiz_id;

ALTER TABLE test DROP CONSTRAINT pk_test;

ALTER TABLE take_answer DROP CONSTRAINT pk_take_answer;

ALTER TABLE take DROP CONSTRAINT pk_take;

ALTER TABLE option DROP CONSTRAINT pk_option;

ALTER TABLE quiz DROP CONSTRAINT pk_quiz;

ALTER TABLE question DROP CONSTRAINT pk_question;

ALTER TABLE test RENAME TO tests;

ALTER TABLE take_answer RENAME TO take_answers;

ALTER TABLE take RENAME TO takes;

ALTER TABLE option RENAME TO options;

ALTER TABLE quiz RENAME TO quizzes;

ALTER TABLE question RENAME TO questions;

ALTER INDEX ix_test_quiz_id RENAME TO ix_tests_quiz_id;

ALTER INDEX ix_take_answer_take_question_id RENAME TO ix_take_answers_take_question_id;

ALTER INDEX ix_take_answer_option_id RENAME TO ix_take_answers_option_id;

ALTER INDEX ix_take_test_id RENAME TO ix_takes_test_id;

ALTER INDEX ix_take_taker_id RENAME TO ix_takes_taker_id;

ALTER INDEX ix_option_question_id RENAME TO ix_options_question_id;

ALTER INDEX ix_quiz_author_id RENAME TO ix_quizzes_author_id;

ALTER INDEX ix_question_quiz_id RENAME TO ix_questions_quiz_id;

ALTER TABLE takes ALTER COLUMN taker_id DROP NOT NULL;

ALTER TABLE quizzes ALTER COLUMN author_id DROP NOT NULL;

ALTER TABLE tests ADD CONSTRAINT pk_tests PRIMARY KEY (id);

ALTER TABLE take_answers ADD CONSTRAINT pk_take_answers PRIMARY KEY (id);

ALTER TABLE takes ADD CONSTRAINT pk_takes PRIMARY KEY (id);

ALTER TABLE options ADD CONSTRAINT pk_options PRIMARY KEY (id);

ALTER TABLE quizzes ADD CONSTRAINT pk_quizzes PRIMARY KEY (id);

ALTER TABLE questions ADD CONSTRAINT pk_questions PRIMARY KEY (id);

ALTER TABLE questions ADD CONSTRAINT fk_questions_quizzes_quiz_id FOREIGN KEY (quiz_id) REFERENCES quizzes (id) ON DELETE CASCADE;

ALTER TABLE quizzes ADD CONSTRAINT fk_quizzes_users_author_id FOREIGN KEY (author_id) REFERENCES "AspNetUsers" (id);

ALTER TABLE options ADD CONSTRAINT fk_options_questions_question_id FOREIGN KEY (question_id) REFERENCES questions (id) ON DELETE CASCADE;

ALTER TABLE take_answers ADD CONSTRAINT fk_take_answers_options_option_id FOREIGN KEY (option_id) REFERENCES options (id) ON DELETE CASCADE;

ALTER TABLE take_answers ADD CONSTRAINT fk_take_answers_take_question_take_question_id FOREIGN KEY (take_question_id) REFERENCES take_question (id) ON DELETE CASCADE;

ALTER TABLE take_question ADD CONSTRAINT fk_take_question_questions_question_id FOREIGN KEY (question_id) REFERENCES questions (id) ON DELETE CASCADE;

ALTER TABLE take_question ADD CONSTRAINT fk_take_question_takes_take_id FOREIGN KEY (take_id) REFERENCES takes (id) ON DELETE CASCADE;

ALTER TABLE takes ADD CONSTRAINT fk_takes_tests_test_id FOREIGN KEY (test_id) REFERENCES tests (id) ON DELETE CASCADE;

ALTER TABLE takes ADD CONSTRAINT fk_takes_users_taker_id FOREIGN KEY (taker_id) REFERENCES "AspNetUsers" (id);

ALTER TABLE tests ADD CONSTRAINT fk_tests_quizzes_quiz_id FOREIGN KEY (quiz_id) REFERENCES quizzes (id) ON DELETE CASCADE;

INSERT INTO "__EFMigrationsHistory" (migration_id, product_version)
VALUES ('20221205170837_New', '6.0.10');

COMMIT;

START TRANSACTION;

ALTER TABLE take_question ADD score double precision NOT NULL DEFAULT 0.0;

INSERT INTO "__EFMigrationsHistory" (migration_id, product_version)
VALUES ('20221205223513_AddScoreToTakeQuestion', '6.0.10');

COMMIT;

START TRANSACTION;

ALTER TABLE tests ADD easy_question_count integer NOT NULL DEFAULT 0;

ALTER TABLE tests ADD hard_question_count integer NOT NULL DEFAULT 0;

ALTER TABLE tests ADD medium_question_count integer NOT NULL DEFAULT 0;


COMMIT;

START TRANSACTION;

ALTER TABLE takes ADD success_rate double precision NOT NULL DEFAULT 0.0;


COMMIT;

START TRANSACTION;

ALTER TABLE take_question ADD is_open_ended_question_checked boolean NOT NULL DEFAULT FALSE;


COMMIT;

START TRANSACTION;


COMMIT;


